* {
  font-family: sans-serif;
  margin: 0;
}

.unselectable, .unselectable * {
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #00bfff;
  height: 3rem;
}

.navbar * {
  text-align: center;
  color: black;
  text-decoration: none;
}

.navbarMenu {
  height: 100%;
}

.navbarMenu a {
  padding: .9rem;
  float: left;
  font-size: 1rem;
}

.navbarMenu a:hover {
  background-color: #33b0ff;
}

.navbar .selected.selected {
  background-color: #1e90ff;
}

.gameTitle.gameTitle {
  padding: 0 1rem;
  float: left;
  font-size: 1.5rem;
  font-weight: bold;
}

.separator {
  width: 0;
  height: 2.4rem;
  margin-right: 1rem;
  border-left: .3rem solid black;
  border-radius: 1rem;
}
